#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#sx:hover{
        transform: translateY(-10px);
        box-shadow: 0 0 50px 4px rgba(0,0,0,0.6);
        filter: brightness(1.1);

}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bio {
  background: linear-gradient(134deg, #3bf686 40.75%, #4ca9ff 90.52%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio-img {
  width: 7.75rem;
  height: 7.75rem;
  flex-shrink: 0;
}
.ellipse-1 {
  width: 9.6875rem;
  height: 9.6875rem;
  flex-shrink: 0;
}

.connect-logo {
  max-width: 2rem;
  max-height: 2rem;
  flex-shrink: 0;
}
.connect-logo:hover{
  color: #3bf686;

}

.what-I-do-card-bg {
  width: 4.5rem;
  height: 4.5rem;
}

.what-I-do-card-image {
  width: 2.25rem;
  height: 2.25rem;
}

.featured-project-image {
  width: 30rem;
  flex-shrink: 0;
  height: auto;
  cursor: pointer;
}

.code-snippet-icon {
  width: 2.5rem;
  flex-shrink: 0;
  height: auto;
}

.code-snippet-star {
  width: 1.4rem;
  flex-shrink: 0;
  height: 1.4rem;
}

.navbar-menu-active {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.03125rem; /* 503.125% */
  letter-spacing: 0.0625rem;
}

.navbar-menu {
  color: #d1d1d1;
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.03125rem; /* 503.125% */
  letter-spacing: 0.0625rem;  
}
.navbar-menu:hover{
  color: purple;
}

.navbar-logo {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 125% */
  letter-spacing: 0.03125rem;
}
